.category {
    display: inline-block;
    background-color: #42aaff;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    line-height: 10rem;
    border-radius: 1rem;

    color: ghostwhite;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    text-align: center;
}