<form [formGroup]="createCompoFG">

    <nb-card status="basic">

        <nb-card-header>Login</nb-card-header>

        <nb-card-body>
            <table>
                <!-- <colgroup>
                    <col style="background-color:lightsteelblue">
                </colgroup> -->
                <tr>
                    <th><label>Titre: </label></th>
                    <th><input nbInput type="text" shape="semi-round" formControlName="titleCompoControl"></th>
                </tr>
                <tr>
                    <th><label>Type: </label></th>
                    <th><input nbInput type="text" shape="semi-round" formControlName="typeCompoControl"></th>
                </tr>
                <tr>
                    <th><label>Content: </label></th>
                    <th><textarea nbInput fullWidth shape="semi-round" formControlName="contentControl"></textarea></th>
                </tr>
                <tr>
                    <th><label>Description: </label></th>
                    <th><textarea nbInput fullWidth shape="semi-round" formControlName="descriptionControl"></textarea></th>
                </tr>
                <tr>
                    <th><label>Url: </label></th>
                    <th><input nbInput type="text" shape="semi-round" formControlName="urlControl"></th>
                </tr>
                <tr>
                    <th><label>Public: </label></th>
                    <th><nb-toggle status="basic" formControlName="isPublicControl">Public</nb-toggle></th>
                </tr>              

            </table>

        </nb-card-body>

        <nb-card-footer>
            <button nbButton status="success" [disabled]="!sendButtonState" (click)="postNewCompo()">Envoyer</button>
        </nb-card-footer>

    </nb-card>

</form>