<form [formGroup]="createCompoFG">

    <nb-card>

        <nb-card-header>Login</nb-card-header>

        <nb-card-body>
            <table>
                <!-- <colgroup>
                    <col style="background-color:lightsteelblue">
                </colgroup> -->
                <tr>
                    <th><label for="">Titre: </label></th>
                    <th><input nbInput type="text" formControlName="titleCompoControl"></th>
                </tr>
                <tr>
                    <th><label for="">Content: </label></th>
                    <th><input nbInput type="text" formControlName="contentControl"></th>
                </tr>
                <tr>
                    <th><label for="">Short: </label></th>
                    <th><input nbInput type="text" formControlName="shortControl"></th>
                </tr>
                <tr>
                    <th><label for="">Description: </label></th>
                    <th><input nbInput type="text" formControlName="descriptionControl"></th>
                </tr>
                <tr>
                    <th><label for="">Url: </label></th>
                    <th><input nbInput type="text" formControlName="urlControl"></th>
                </tr>
                <tr>
                    <th><label for="">Public: </label></th>
                    <th><nb-toggle status="basic" formControlName="isPublicControl">Public</nb-toggle></th>
                </tr>              

            </table>

        </nb-card-body>

        <nb-card-footer>
            <button nbButton status="success" [disabled]="!sendButtonState" (click)="postNewCompo()">Envoyer</button>
        </nb-card-footer>

    </nb-card>

</form>