<form [formGroup]="createNoteFG">
    <!-- (ngSubmit)="postNewNote()" -->

    <nb-card status="basic">

        <nb-card-header>Créer une note</nb-card-header>

        <nb-card-body>
            
            <table>
                <tr>
                    <th><label for="">Titre: </label></th>
                    <th><input nbInput type="text" formControlName="titleControl"></th>
                </tr>
                <tr>
                    <th><label for="">Public: </label></th>
                    <th><nb-toggle status="basic" formControlName="isPublicControl">Public</nb-toggle></th>
                </tr>
                <tr>
                    <th><label for="">Parent Id: </label></th>
                    <th><input nbInput type="number" formControlName="parentNote_IdControl"></th>
                </tr>
            </table>
            
            <br>

            <!-- <app-create-compo></app-create-compo> -->
            
            <nb-card formArrayName="compoList" accent="info" size="medium" *ngFor="let item of getItems().controls; let i = index;">
                <nb-card-header>Nouveau composant {{i + 1}}</nb-card-header>
                <nb-card-body>
                    <table [formGroupName]="i">
                        <tr>
                            <th><label for="">Titre: </label></th>
                            <th><input nbInput type="text" formControlName="titleCompoControl"></th>
                        </tr>
                        <tr>
                            <th><label for="">Content: </label></th>
                            <th><input nbInput type="text" formControlName="contentControl"></th>
                        </tr>
                        <tr>
                            <th><label for="">Short: </label></th>
                            <th><input nbInput type="text" formControlName="shortControl"></th>
                        </tr>
                        <tr>
                            <th><label for="">Description: </label></th>
                            <th><input nbInput type="text" formControlName="descriptionControl"></th>
                        </tr>
                        <tr>
                            <th><label for="">Url: </label></th>
                            <th><input nbInput type="text" formControlName="urlControl"></th>
                        </tr>
                        <tr>
                            <th><label for="">Public: </label></th>
                            <th><nb-toggle status="basic" formControlName="isPublicControl">Public</nb-toggle></th>
                        </tr>              
                    </table>
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton type="button" (click)="removeItem(i)">Supprimer</button>
                </nb-card-footer>
            </nb-card>
            
        </nb-card-body>
        
        <nb-card-footer>
            <!-- <button (click)="openWindow()" nbButton>Open window</button> -->
            <button nbButton type="button" (click)="addItem()">Add</button>
            <button nbButton status="success" (click)="postNewNote()">Envoyer</button>
        </nb-card-footer>

    </nb-card>

</form>