<nb-card status="basic">

    <!-- Affichage du titre -->
    <!-- <nb-card-header>{{compo.title}}</nb-card-header> -->

    <nb-card-body>

        <!-- Affichage général du composant -->
        <div class="displayComponent" [style.border-color]="category?.color">

            <!-- Affichage de la catégorie -->
            <nb-tag-list>
                <nb-tag status="info" appearance="outline" size="tiny" text="{{category?.short}}"></nb-tag>
            </nb-tag-list>

            <!-- Affichage du titre -->
            <h5>{{compo.title}}</h5>

            <!-- Affichage du contenu de Code -->
            <div *ngIf="compo.content">
                <strong><i>Code:</i></strong> 
                <p class="codeContent" style="color: ghostwhite;">
                    {{compo.content}}
                </p>
            </div>
            
            <!-- Affichage de la description -->
            <p *ngIf="compo.description">
                {{compo.description}}
            </p>
            
            <!-- Affichage de l'url' -->
            <p *ngIf="compo.url">
                Lien(s) utile(s):
                <br>
                <a href={{compo.url}}>{{compo.url}}</a>
            </p>
            
            <!-- Affichage du créateur -->
            <div class="displayCompoCreator">{{prefixCreator}} {{creator.nickname}}</div>
            
        </div>

    </nb-card-body>

    <nb-card-footer>
        <button nbButton ghost status="primary" shape="semi-round" size="small" [routerLink]="[previousRoute]">
            <nb-icon icon="arrowhead-left-outline"></nb-icon>Retour
        </button>
    </nb-card-footer>

</nb-card>
