<nb-card status="basic">

    <nb-card-header>
        <h3>Bienvenue sur DropNote!</h3>
    </nb-card-header>

    <nb-card-body>
        <p>
            <strong>
                DropNote, anciennement ECX est un projet permettant de réaliser facilement de la documentation pour les développeurs.
                <br>
                Ce projet à été réalisé dans le cadre d'une formation sur les technologies '.NET' et 'Angular',
                proposée par le centre de formation 'TechnofuturTIC' de Gosselies.
            </strong>
        </p>
        <h6>TO DO:</h6>
        <ul>
            <li>Mettre en place un intercepteur.</li>
            <li>Mettre en place les guards.</li>
            <li>Créer du vrai contenu dans le script de post-déploiement</li>
            <li>Pointer les url's correcetment vers l'extérieur</li>
            <li>Améliorer l'affichage d'un composant</li>
            <li>Typer les composants</li>
            <li>Option pour définir le statut Public/Privé des notes et composants</li>
            <li>Pouvoir introduire des composants existants à la création d'une nouvelle note</li>
            <li>Ajouter un composant pour voir les composants Public et le nom de leur créateur</li>
            <li>Afficher le nom du créateur d'une note ou d'un composant Public en bas de celle-ci ou celui-ci</li>
            <li>A la création d'une note ou compo, pouvoir copié le contenu d'une note/compo existant</li>
        </ul>
        
    </nb-card-body>

</nb-card>
