<nb-card status="warning">

    <nb-card-header>
        <h3>Bienvenue sur DropNote!</h3>
    </nb-card-header>

    <nb-card-body>
        <strong>
            DropNote, anciennement ECX est un projet permettant de réaliser facilement de la documentation pour les développeurs.
            <br>
            Ce projet à été réalisé dans le cadre d'une formation sur les technologies '.NET' et 'Angular',
            proposée par le centre de formation 'TechnofuturTIC' de Gosselies.
        </strong>
    </nb-card-body>

</nb-card>
