<form [formGroup]="updateCompoFG">

    <nb-card status="basic">
        
        <nb-card-header>Éditer: <i>{{compo.title}}</i></nb-card-header>
        
        <nb-card-body>

            <table>
                <!-- <colgroup>
                    <col style="background-color:lightsteelblue">
                </colgroup> -->
                <tr>
                    <th><label for="">Titre: </label></th>
                    <th><input nbInput type="text" formControlName="titleControl"></th>
                </tr>
                <tr>
                    <th><label for="">Type: </label></th>
                    <th><input nbInput type="text" formControlName="typeControl"></th>
                </tr>
                <tr>
                    <th><label for="">Content: </label></th>
                    <th><input nbInput type="text" formControlName="contentControl"></th>
                </tr>
               <tr>
                    <th><label for="">Description: </label></th>
                    <th><input nbInput type="text" formControlName="descriptionControl"></th>
                </tr>                
                <tr>
                    <th><label for="">Url: </label></th>
                    <th><input nbInput type="text" formControlName="urlControl"></th>
                </tr>
                <tr>
                    <th><label for="">Public: </label></th>
                    <th><nb-toggle status="basic" formControlName="isPublicControl"></nb-toggle></th>
                </tr>
            </table>
        </nb-card-body>
        
        
        <nb-card-footer>
            <button nbButton ghost status="success" shape="semi-round" size="small" (click)="updateNote()">
                <nb-icon icon="save-outline"></nb-icon>Enregistrer
            </button>
        </nb-card-footer>
        
    </nb-card>

</form>