<form [formGroup]="updateNoteFG">

    <nb-card status="basic">
        
        <nb-card-header>Éditer: <i>{{note.title}}</i></nb-card-header>
        
        <nb-card-body>
            
            <!-- Partie du formulaire pour la Note -->
            <table>
                <!-- <colgroup>
                    <col style="background-color:lightsteelblue">
                </colgroup> -->
                <tr>
                    <th><label for="">Titre: </label></th>
                    <th><input nbInput type="text" formControlName="titleControl"></th>
                </tr>
                <tr>
                    <th><label for="">Public: </label></th>
                    <th><nb-toggle status="basic" formControlName="isPublicControl"></nb-toggle></th>
                </tr>
            </table>

            <!-- Partie du formulaire pour les Composants -->
            <div *ngFor="let c of compos" class="displayComponent">

                <h6>{{c.title}}</h6>

                <div *ngIf="c.content" class="codeContent">{{c.content}}</div>

                <p *ngIf="c.description">{{c.description}}</p>

                <a *ngIf="c.url">{{c.url}}</a>

            </div>

        </nb-card-body>
        
        
        <nb-card-footer>
            <button nbButton ghost status="success" shape="semi-round" size="small" (click)="updateNote()">
                <nb-icon icon="save-outline"></nb-icon>Enregistrer
            </button>
        </nb-card-footer>
        
    </nb-card>

</form>