<form [formGroup]="updateNoteFG">

    <nb-card status="warning">
        
        <nb-card-header>Éditer la note: <i>{{note.title}}</i></nb-card-header>
        
        <nb-card-body>
            <table>
                <!-- <colgroup>
                    <col style="background-color:lightsteelblue">
                </colgroup> -->
                <tr>
                    <th><label for="">Titre: </label></th>
                    <th><input nbInput type="text" formControlName="titleControl"></th>
                </tr>
                <tr>
                    <th><label for="">Catégories: </label></th>
                    <th><input nbInput type="text" formControlName="categoryControl"></th>
                </tr>
                
            </table>
        </nb-card-body>
        
        
        <nb-card-footer>
            <button nbButton status="success" (click)="updateNote()">Enregistrer</button>
        </nb-card-footer>
        
    </nb-card>

</form>
