<nb-card *ngFor="let u of userList; let id = index">

    <nb-card-header>{{u.id}}: {{u.nickname}}</nb-card-header>

    <nb-card-body>
        <strong>{{u.role}}</strong>
        <p>{{u.firstname}} {{u.lastname}}</p>
        
        <nb-select id="{{id}}" placeholder="{{u.role}}">

            <nb-option *ngFor="let r of roleList" [value]="r.name">
              {{r.name}}
            </nb-option>

        </nb-select>
        
        <button nbButton status="primary" (click)="setRole(id, u.id)">Définir Rôle</button>

    </nb-card-body>

</nb-card>
