<nb-card status="basic">

    <nb-card-header style="position: relative;">
        <nb-badge text={{note.category_Id}} status="warning" position="top right"></nb-badge>
        {{note.title}}
    </nb-card-header>
    <nb-card-body>

        
        <!-- Loading Components -->
        <div *ngFor="let c of compos, let i = index">
            <div class="displayCompo" [style.border-color]="composCategory[i].color">
                <div class="pastille"><p>{{composCategory[i].name! ?? 'X'}}</p></div>
                <!-- <nb-badge text={{c.category_Id}} status="info" position="top right"></nb-badge> -->
                <h6>{{c.title}}</h6>
                {{composCategory[i].name}}
                <div *ngIf="c.content != ''">
                    <strong><i>Code:</i></strong>
                    <div class="codeContent" style="position: relative;">
                        
                        {{c.content}}
                    </div>
                </div>
                <br>
                <p>
                    {{c.description}}
                </p>
                <br>
                <p *ngIf="c.url != ''">
                    <a href={{c.url}}>{{c.url}}</a>
                </p>
                <br>
                <p>
                    Créateur: {{composCreators[i]}}
                </p>
            </div>

        </div>
        
        Créateur: {{creator.nickname}}
    </nb-card-body>

    <nb-card-footer>
        <button nbButton ghost status="primary" shape="semi-round" size="small" [routerLink]="[previousRoute]">Retour</button>
    </nb-card-footer>

</nb-card>
