.testCompo {
    background-color: #e4e4e42d;
    width: auto;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 10px 5px 5px lightgray;
}

.pastille {
    display: block;
    background-color: #EF8354;
    position: relative;
    top: 2%;
    left: 97%;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;

    color: ghostwhite;
    font-weight: bold;
    text-align: center;
    line-height: 4rem;
}