<nb-card status="basic">

    <nb-card-header style="position: relative;">
        <nb-badge text={{note.category_Id}} status="warning" position="top right"></nb-badge>
        {{note.title}}
    </nb-card-header>
    <nb-card-body>
        (debug Id): {{note.id}}
        <br>

        <!-- Loading Components -->
        <div class="testCompo" *ngFor="let c of compos">
            <h6>{{c.title}}</h6>
            <br>
            <strong><i>Code:</i></strong>
            <div class="codeContent" style="position: relative;">
                <nb-badge text={{c.category_Id}} status="info" position="top right">Heloo</nb-badge>
                {{c.content}}
            </div>
            <br>
            <p>
                {{c.description}}
            </p>
            <br>
            <a href={{c.url}}>{{c.url}}</a>
        </div>

    </nb-card-body>

    <nb-card-footer>
        <button nbButton ghost status="primary" shape="semi-round" size="small" [routerLink]="[previousRoute]">Retour</button>
    </nb-card-footer>

</nb-card>
