@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme((

  // add your variables here like:

  // color-primary-100: #f2f6ff,
  // color-primary-200: #d9e4ff,
  // color-primary-300: #a6c1ff,
  // color-primary-400: #598bff,
  // color-primary-500: #3366ff,
  // color-primary-600: #274bdb,
  // color-primary-700: #1a34b8,
  // color-primary-800: #102694,
  // color-primary-900: #091c7a,

  layout-background-color: #BFC0C0,
  
  header-background-color: #2D3142,
  header-text-color: #EF8354, 
  header-height: 6rem,

  footer-background-color: #14110F,
  footer-text-color: #4F5D75,

  card-background-color: #FFFFFF,
  card-text-color: #4F5D75

), corporate, corporate);
