<form [formGroup]="loginFG" (ngSubmit)="login()">

    <nb-card status="basic">

        <nb-card-header>Login</nb-card-header>

        <nb-card-body>
            <table>
                <tr>
                    <th>
                        <label for="">Email: </label>
                    </th>
                    <th>
                        <input nbInput type="text" formControlName="emailControl">
                    </th>
                </tr>
                <tr>
                    <th>
                        <label for="">Password: </label>
                    </th>
                    <th>
                        <input nbInput type="password" formControlName="passwordControl">
                    </th>
                </tr>
            </table>
            <br>
        </nb-card-body>

        <nb-card-footer>
            <button nbButton ghost status="success" shape="semi-round" size="small" type="submit">
                <nb-icon icon="log-in-outline"></nb-icon>Se connecter
            </button>
        </nb-card-footer>

    </nb-card>

</form>